.questionCard{
  // background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 20px;
  border: 1px solid var(--border-color, #eee);
  width: 100%;

  .questionContent{
    display: flex;
    flex-direction: column;
  }

  .questionHeader{
    margin-bottom: 6px;
  }
}