:root {
  --main-background-color: #fefefe;
  --main-text-color: #111;
  --light-text-color: #555;
  --primary-color: #007bff;
  --primary-text-color: #fefefe;
  --secondary-color: #d9dedc;
  --secondary-text-color: #111;
  --border-color: #eeeeee
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text-color);
  background: var(--main-background-color);
  overflow-y: auto;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  -webkit-tap-highlight-color: transparent;
}

/* Thin scrollbar on chromium */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
